{{ $href := .Get "href" }}
{{ $badge_src := "https://img.shields.io/badge/Badge-NOT_FOUND-white?logo=firefox" }}

{{ $badge := .Get "badge" }}
{{ if eq $badge "jupyter" }}
  {{ $badge_src = "/es/posts/Imagenes/jupyter-badge.svg" }}
{{ else if eq $badge "codeberg" }}
  {{ $badge_src = "/es/posts/Imagenes/codeberg-badge.svg" }}
{{ end }}

{{ $align := "center" }}
{{ if .Get "align" }}
  {{ $align = .Get "align" }}
{{ end }}

{{ $width := "20%" }}
{{ if .Get "width" }}
  {{ $width = .Get "width" }}
{{ end }}

<div style="text-align: center">
    <a href="{{ $href }}" target="_parent"><img src="{{ $badge_src }}" align="{{ $align }}" width="{{$width}}" style="display:block;margin:auto;"/></a>
</div>
